<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="app">
        <p v-if="xx == 'A'">
            ppppp
        </p>
        <h1 v-else-if="xx == 'B'">
            h1h1h1
        </h1>
        <span v-else>
            spanspan
        </span>
        <!--v-else需用在v-if之后-->

        <!--template模板不显示外层标签 新版本中template里用v-show不好使-->
        <template v-if="msg">
            <p>ppp</p>
            <p>ppppp</p>
            <h1>h1h1h1h1</h1>
        </template>

        <div v-show="msg">
            ddd
        </div>
    </div>
    <script src="vue.js"></script>
    <script>
        var vm = new Vue({
            el:'#app',
            data:{
                msg: false,
                xx: 'A'
            }
        });
</script>
</body>
</html>

<!--vm.xx= 'B'-->
<!--vm.xx= 'C'-->
<!--vm.msg= true-->