<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <ul>
        <li v-for="(val,index) in arr">
            {{index}},{{val}}
        </li>
        <!--循环两次-->
        <li v-for="i in 2">
            {{msg}}
        </li>
        <li v-for="(val,index) in stuList">
            {{index + 1}}:学生姓名是：{{val.name}},年龄是：{{val.age}}
            <!--vm.stuList.push({name:'liyif',age:26})-->
        </li>
        <!--v-for里必须按照val key index的顺序，但显示的顺序可以自定义-->
        <li v-for="(val,key,index) in obj">
            {{val}},{{key}},{{index}}
        </li>
        <!--computed中的sortStu可实时更新数据-->
        <li v-for="(val,index) in sortStu">
            {{index}},学生姓名是：{{val.name}},年龄是：{{val.age}}
        </li>
    </ul>
</div>
<script src="vue.js"></script>
<script>
    var vm = new Vue({
        el:'#app',
        data:{
            msg:'Hello world ',
            arr:[1,22,333],
            stuList:[{
                name: 'wuyifan',
                age: 28
            }, {
                name: 'zhangyixing',
                age: 18
            },{
                name:'huangzitao',
                age:25
            }],
            obj:{
                b:2,
                c:3,
                d:4
            }
        },
        computed:{
            sortStu(){
                // this相当于vm 返回vm中的stuList对象
                return this.stuList.sort(function(a,b){
                    return a.age - b.age;
                });
            }
        }
    })
</script>
</body>
</html>